
#header{
	padding-top:1px;
	padding-left:16px;
	padding-right:4px;
	margin-bottom:20px;
	background-color:#3e445b;
	color:#e6ffea
}


h2{
	color:#ee3322;
}

#footer{
	margin-top:20px;
	background-color:#3e445b;
	color:#e6ffea
}


