@CHARSET "UTF-8";

.field1{
	float:left;
	margin-right:20px;
	margin-bottom:15px;
}
.field1_lbl{
	float:left;
	padding-top:3px;
	margin-right:10px;
}
.field1_val{
	float:left;
	margin-right:10px;
}

#fa_dad_area_rap{
	margin-top:20px;
	margin-bottom:20px;
	width:440px;
	height:170px;
	padding:20px;
	background-color:#deb889;

}

#fa_dad_area{
	width:400px;
	height:130px;
	padding:15px;
	border: dashed 1px #8f6327;

}